.form {
    margin-top: 40px;
    max-width: 700px;
    display: flex;
       
}


.form button {

    width: 310px;
    height: 70px;
    background-color: #04d361;
    border-radius: 0 5px 5px 0;
    border: 0;
    color: #fff;
    font-weight: bold;

}

.form button:hover {

    background-color: #04d361
}

.form input {
 flex: 1;
 height: 70px;
 padding: 0 24px;
 border-radius: 5px 0 0 5px;
 color: #3a3a3a;
 border: 2px solid #fff;
 border-right: 0;
}

.repo {

    margin-top: 80px;
    max-width: 700px;
    
}

.repo a {

width: 100%;
background: #fff;
border-radius: 5px;
display: flex;
padding: 24px;

text-decoration: none;
align-items: center;

}

.repo img {

    width: 64px;
    height: 64px;
    border-radius: 50%;

}

.repo div {

    flex: 1;
    margin: 0 16px;

}

.repo strong {

    font-size: 20px;
    color:  #3d3d4d;

}

.repo p {
    margin-left: auto;
    color: #cbcbd6

}

.repo:hover {

    transform: translateX(10px)

}



